#python
__pycache__/
*.pyc

#pytest
.pytest_cache/

#macOS
.DS_Store

#Data(optional)
todo.json
ai-playground/data/
ai-playground/exports/

#logs
*.log

#.env
ai-playground/.env

#practice
exercises/practice/

#notes
notes/